@page "{pagenumber:int=1}"
@model TechStudy.RazorPages.Pages.GroupsModel
@{
}

<div class="container keep-footer-at-bottom">
    <h4>Qruplara qoşul və qesheng sozler</h4>
    <i class="text-white">İstək bir neçə günə baxılacaq. Sizin ancaq bir istəyiniz qəbul oluna bilər, yəni bir qrup istək göndərin, əks halda ən son istəyiniz qəbul olunacaq</i>
    <table class="table">
        <tr>
            <th>Group Name</th>
            <th>Group Description</th>
            <th></th>
        </tr>
        @foreach (var group in Model.Groups)
        {
            <tr>
                <td>@group.Name</td>
                <td>@group.Description</td>
                @if (Model.GroupAppIds.TryGetValue(group.Id, out int appId))
                {
                    <td>
                        <a class="btn" style="color: red" asp-page="DeleteApplication" asp-route-appId="@appId">İstəyi geri al</a>
                    </td>
                }
                else
                {
                    <td>
                        <a class="btn text-white" asp-page="ApplyForMembership" asp-route-groupId="@group.Id">Üzv ol</a>
                    </td>
                }
            </tr>
        }
    </table>
    <div class="d-flex alig-items-center justify-content-center">
        @if (Model.PageNumber > 1)
        {
            <a asp-page="Groups" class="btn btn-primary me-1" asp-route-pagenumber='@(Model.PageNumber - 1)'>Prev</a>
        }

        <a asp-page="Groups" class="btn btn-primary" asp-route-pagenumber='@(Model.PageNumber + 1)'>Next</a>
    </div>
</div>
<style>
    tr {
        color: white;
    }
</style>