@page "{userId}"
@model TechStudy.RazorPages.Pages.AccountsManager.Claims.IndexModel

<a asp-page="Manage" asp-route-userId="@RouteData.Values["userId"]" class="btn ">Manage</a>

    
<div class="row">
    <h5>@Model.TechStudyUser.Email</h5>
    @foreach(var claim in Model.UserClaims)
    {
        <hr />
        <p>Claim Type: @claim.Type</p>
        <p>Claim Value: @claim.Value</p>
        <button class="btn btn-danger" onclick="deleteClaim('@Model.TechStudyUser.Id', '@claim.Type', '@claim.Value')">Delete</button>
    }
</div>
