@page "{pageNumber:int=1}"
@model IndexModel
@{ 
}

<div class="container">
    <a class="btn btn-primary" asp-page="Create">Create Group</a>
    <a class="btn btn-primary" asp-page="Applications">Applications</a>

    <table class="table">
        <tr>
            <th>Group Id</th>
            <th>Group Name</th>
            <th>Group Description</th>
            <th></th>
            <th></th>
        </tr>
        @foreach(var group in Model.Groups)
        {
            <tr>
                <td>@group.Id</td>
                <td>@group.Name</td>
                <td>@group.Description</td>
                <td><a class="btn text-white" asp-page="Group" asp-route-id="@group.Id">More</a></td>
                <td><a class="btn text-white" asp-page="Delete" asp-route-id="@group.Id">Delete</a></td>
            </tr>
        }
    </table>
    <div class="d-flex alig-items-center justify-content-center">
        @if (Model.PageNumber > 1)
        {
            <a asp-page="Index" class="btn btn-primary me-1" asp-route-pagenumber='@(Model.PageNumber - 1)'>Prev</a>
        }
        
        <a asp-page="Index" class="btn btn-primary" asp-route-pagenumber='@(Model.PageNumber + 1)'>Next</a>
    </div>
</div>
<style>
    tr {
        color: white;
    }
</style>