@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TechStudy.RazorPages</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/TechStudy.RazorPages.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css"/>
    <link rel="stylesheet" href="~/css/qeydiyyat.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>

<body>
    <a class="float" href="">
        <i class="fa-brands fa-whatsapp my-float"></i>
    </a>
    <header style="margin-bottom: 20px">
        <div class="nav">
            <div class="nav-brand">
                <a asp-page="/Index" asp-area="" class="nav-logo">
                    <h3><b><span>tech</span>study</b></h3>
                </a>

            </div>
            <ul class="navlist" id="navlist">
                <li><a asp-page="/Index" asp-area="">Əsas səhifə</a></li>
                <li><a href="#about">Haqqımızda</a></li>
                <li><a href="#team-page">Üzvlər</a></li>
                <li><a href="#contact">Əlaqə</a></li>
                <li><a asp-page="/Groups" asp-area="">Qruplar</a></li>
                <div id="registr">
                    @if (User != null && User.Identity.IsAuthenticated)
                    {
                        <a asp-area="" asp-page="/Account/Index" asp-route-id="@User.FindFirst(ClaimTypes.NameIdentifier)!.Value"><button>@User.FindFirstValue(ClaimTypes.Email)</button></a>
                        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/Index" style="display:inline">
                            <a><button class="btn1">Çıxış</button></a>

                        </form>
                    }
                    else
                    {
                        <a asp-area="Identity" asp-page="/Account/Login"><button>Daxil Ol</button></a>
                        <a asp-area="Identity" asp-page="/Account/Register"><button class="btn1">Qeydiyyatdan Keç</button></a>
                    }
                </div>

            </ul>

            <div class="registr">
                @if (User != null && User.Identity.IsAuthenticated)
                {
                    <a asp-area="" asp-page="/Account/Index" asp-route-id="@User.FindFirst(ClaimTypes.NameIdentifier)!.Value"><button>@User.FindFirstValue(ClaimTypes.Email)</button></a>
                    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/Index" style="display:inline">
                        <a><button class="btn1">Çıxış</button></a>

                    </form>
                }
                else
                {
                    <a asp-area="Identity" asp-page="/Account/Login"><button>Daxil Ol</button></a>
                    <a asp-area="Identity" asp-page="/Account/Register"><button class="btn1">Qeydiyyatdan Keç</button></a>
                }
            </div>
            <span class="bar">
                <i onclick="myFunction()" class="fa-solid fa-bars"></i>
            </span>
        </div>
    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="text-light pt-4 ">
        <div class="container">
            <div class="footer-logo">
                <h1><b>tech<span>study</span></b></h1><br>
                <h4>#BirlikdəZirvəyəDoğru</h4>
            </div>
            <div class="footer-icon">
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
            </div>
            <div class="footer-page">
                <ul class="list-unstyled">
                    <li><h5>Səhifələr</h5></li>
                    <hr>
                    <li><a href="html.html">Əsas səhifə</a></li>
                    <li><a href="html.html">Haqqımızda</a></li>
                    <li><a href="html.html#team-page">Üzvlər</a></li>
                    <li><a href="html.html#contact">Əlaqə</a></li>
                    <li><a href="qruplar.html">Qruplar</a></li>
                </ul>
            </div>
            <div class="footer-contact">
                <ul class="list-unstyled">
                    <li><h5>Bizimlə əlaqə</h5></li>
                    <hr>
                    <li>Telefon: +1234567890</li>
                    <li>Email:example@gmail.com</li>
                    <li>Məkan: ADAU Mex korpus..</li>
                </ul>
            </div>
        </div>
    </footer>
    <div class="container-fluid  text-dark">
        <p class="mb-0">Copyright © 2024 Tech Study | Powered by ADAU</p>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/javascript.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/scrollreveal"></script>

    <script>

        ScrollReveal({
            reset: false,
            distance: '60px',
            duration: 2000,
            delay: 300

        });
        ScrollReveal().reveal('.main-text', { delay: 200, origin: 'right' });
        ScrollReveal().reveal('.main-img', { delay: 200, origin: 'bottom' });
        ScrollReveal().reveal('.col1', { delay: 200, origin: 'top' });
        ScrollReveal().reveal('.col2', { delay: 200, origin: 'bottom' });
        ScrollReveal().reveal('.col3', { delay: 200, origin: 'top' });
        ScrollReveal().reveal('.team-mem', { delay: 200, origin: 'bottom' });
        ScrollReveal().reveal('.card', { delay: 200, origin: 'left' });

    </script>
   
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>