@page
@model IndexModel
@{
}

<table class="table">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Second Name
            </th>
            <th>
                Email
            </th>
            <th>
                Phone Number
            </th>
            <th>
                Email Confirmed
            </th>
            <th>
                Phone Number Confirmed
            </th>
        </tr>
       
    </thead>
    <tbody>
        @foreach(var user in Model.Users)
        {
            <tr>
                <td>
                    @((await Model.UserService.GetClaimAsync(user, "FirstName")).Value)
                </td>
                <td>
                    @((await Model.UserService.GetClaimAsync(user, "SecondName")).Value)
                </td>
                <td>
                    @user.Email
                </td>
                <td>
                    @user.PhoneNumber
                </td>
                <td>
                    @user.EmailConfirmed
                </td>
                <td>
                    @user.PhoneNumberConfirmed
                </td>
                <td>
                    <a  class="btn btn-danger" asp-route="@user.Id" asp-page="Delete">Delete</a>
                </td>
                <td>
                    <a class="btn" asp-route="@user.Id" asp-page="Manage">Manage</a>
                </td>
            </tr>
            
        }
    </tbody>
</table>